* {
  margin: 0;
  padding: 0; }

body .button {
  border: none;
  border-radius: 2px;
  color: #3C3C3F;
  background-color: #C2C2CC;
  position: relative;
  height: 36px;
  width: 115px;
  margin: 0;
  padding: 0 10px;
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }
body .button:hover {
  background-color: #CFCFD9; }
body .button:active {
  background-color: #CFCFD9; }
body header {
  height: 4vh;
  background-color: #3C3C3F; }
  body header .header-container {
    padding: 0px 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    font-size: 18px;
    line-height: 4vh;
    font-family: "Montserrat", sans-serif; }
    body header .header-container .header-logo {
      align-self: center;
      float: left;
      display: inline-block;
      position: relative;
      margin-left: 5px; }
      body header .header-container .header-logo a {
        display: grid;
        justify-self: center;
        align-self: center;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        margin: auto;
        text-transform: uppercase; }
    body header .header-container .header-buttons {
      align-self: center;
      float: right;
      text-align: right;
      display: inline-block;
      position: relative;
      justify-items: center; }
      body header .header-container .header-buttons .header-username {
        display: inline-block;
        margin-right: 10px;
        color: #fff; }
      body header .header-container .header-buttons a {
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
        color: #fff; }
      body header .header-container .header-buttons a:hover {
        text-decoration: underline; }
body section {
  background: url(../img/sky-1946508.png) left top/cover fixed;
  padding: 2vh 40px;
  height: 92vh;
  display: grid;
  grid-template-areas: "calendar-widget tracker-widget clock-widget" "todo-list-widget notes-widget timetable-widget" "todo-list-widget notes-widget timer-widget";
  grid-gap: 10px;
  grid-template-rows: minmax(204px, 1fr) minmax(352px, 2fr) 1fr;
  grid-template-columns: 2fr 5fr 2fr; }
  body section .hide {
    display: none; }
  body section #calendar-widget {
    grid-area: calendar-widget;
    border-radius: 3px;
    background-color: #fff; }
    body section #calendar-widget .calendar-header {
      border-radius: 3px 3px 0px 0px;
      overflow: hidden;
      padding: 4px;
      background-color: #3C3C3F;
      color: #fff;
      text-align: center; }
      body section #calendar-widget .calendar-header h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.1; }
    body section #calendar-widget #calendar {
      text-align: center;
      width: 100%;
      font: monospace;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      line-height: 1.15;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
      body section #calendar-widget #calendar thead tr * {
        padding-bottom: 5px; }
      body section #calendar-widget #calendar thead tr:last-child {
        font-size: 14px; }
      body section #calendar-widget #calendar thead tr:nth-child(1) td:nth-child(1):hover {
        cursor: pointer;
        color: #3C3C3F; }
      body section #calendar-widget #calendar thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
        color: #3C3C3F; }
      body section #calendar-widget #calendar tbody td {
        padding-bottom: 3px; }
      body section #calendar-widget #calendar tbody td:nth-child(n+6) {
        color: #FF333D; }
      body section #calendar-widget #calendar tbody td.today {
        background: #3C3C3F;
        color: #fff; }
  body section #tracker-widget {
    grid-area: tracker-widget;
    background-color: #fff;
    border-radius: 3px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif; }
    body section #tracker-widget .tracker-widget-header {
      border-radius: 3px 3px 0px 0px;
      padding: 5px;
      background-color: #3C3C3F;
      color: #fff;
      text-align: center; }
      body section #tracker-widget .tracker-widget-header h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.1; }
    body section #tracker-widget .tracker-widget-body .tracker-widget-item {
      display: grid;
      grid-template-columns: 150px repeat(18, 35px);
      height: 35px;
      justify-items: center;
      align-items: center; }
      body section #tracker-widget .tracker-widget-body .tracker-widget-item .tracker-item-name {
        width: 100%;
        font-size: 17px;
        font-family: "Montserrat", sans-serif;
        color: black;
        border: none;
        outline: none;
        padding: 0px 10px;
        box-sizing: border-box;
        position: relative; }
      body section #tracker-widget .tracker-widget-body .tracker-widget-item .tracker-checkbox {
        height: 30px;
        width: 30px;
        background-color: #FFF;
        color: #3C3C3F; }
  body section #clock-widget {
    grid-area: clock-widget;
    text-align: center;
    background: #000;
    max-height: 200px;
    display: grid;
    grid-template-rows: 60px 60px 60px;
    justify-items: center;
    align-items: center; }
    body section #clock-widget p {
      color: #fff;
      line-height: 1.1;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
    body section #clock-widget .clock-widget-clock {
      position: relative;
      font-size: 50px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
    body section #clock-widget .clock-widget-day {
      position: relative;
      font-size: 45px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
    body section #clock-widget .clock-widget-date {
      position: relative;
      font-size: 45px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
  body section #todo-list-widget {
    grid-area: todo-list-widget;
    background-color: #fff;
    border-radius: 3px;
    font-size: 17px;
    max-width: 350px;
    max-height: 75vh; }
    body section #todo-list-widget .todo-list-header {
      position: relative;
      border-radius: 3px 3px 0px 0px;
      overflow: hidden;
      padding: 5px;
      background-color: #3C3C3F;
      color: #fff;
      text-align: center; }
      body section #todo-list-widget .todo-list-header h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.1; }
    body section #todo-list-widget .todo-list-body {
      display: grid;
      grid-auto-rows: 1fr 56px;
      grid-template-columns: 1fr;
      max-height: 60vh;
      /* Todo form */ }
      body section #todo-list-widget .todo-list-body ul {
        list-style: none; }
      body section #todo-list-widget .todo-list-body input {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        color: #757575;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid lightgray;
        outline: none; }
      body section #todo-list-widget .todo-list-body #todo-list {
        display: grid;
        grid-auto-rows: 56px;
        max-width: 350px;
        overflow-y: auto; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item {
          display: grid;
          grid-template-columns: 15px 1fr 36px 36px;
          grid-gap: 2px;
          font-size: 17px;
          border-bottom: 1px solid #C2C2CC;
          background-color: #fff;
          transition: all 0.2s;
          -webkit-user-select: none;
          user-select: none;
          padding: 10px;
          align-items: center;
          box-sizing: border-box; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item .title {
          font-family: "Montserrat", sans-serif;
          font-size: 17px; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item .completed * {
          color: lightgray; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item .title,
        body section #todo-list-widget .todo-list-body #todo-list .todo-item .textfield {
          margin-right: auto;
          margin-left: 8px; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item.completed .title {
          text-decoration: line-through; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item.editing .title {
          display: none; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item .textfield {
          display: none; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item.editing .textfield {
          display: block; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item button {
          opacity: 0;
          transition: all 0.2s;
          width: 36px; }
        body section #todo-list-widget .todo-list-body #todo-list .todo-item:hover button:not(.checkbox) {
          opacity: 1; }
      body section #todo-list-widget .todo-list-body #todo-form {
        display: flex;
        background-color: #FAFAFA;
        padding: 10px;
        box-sizing: border-box;
        max-width: 350px; }
      body section #todo-list-widget .todo-list-body #todo-form input {
        flex: 1;
        outline: none;
        transition: all 0.2s; }
      body section #todo-list-widget .todo-list-body #todo-form button {
        margin-left: 10px; }
  body section #timetable-widget {
    grid-area: timetable-widget;
    background-color: #fff;
    border-radius: 3px;
    font-size: 17px;
    max-width: 350px;
    min-height: 350px;
    font-family: "Montserrat", sans-serif; }
    body section #timetable-widget .timetable-header {
      border-radius: 3px 3px 0px 0px;
      overflow: hidden;
      padding: 5px;
      background-color: #3C3C3F;
      color: #fff;
      text-align: center; }
      body section #timetable-widget .timetable-header h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.1; }
    body section #timetable-widget .timetable-body {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr; }
      body section #timetable-widget .timetable-body .timetable-day {
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        min-height: 35px;
        justify-items: center;
        align-items: center;
        border-bottom: 1px solid #C2C2CC; }
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-name p {
          font-weight: bold; }
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-prev-btn,
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-next-btn {
          cursor: pointer;
          padding: 0;
          border: none;
          font: inherit;
          color: inherit;
          background-color: transparent; }
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-prev-btn:hover,
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-next-btn:hover {
          color: #3C3C3F; }
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-prev-btn:focus,
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-next-btn:focus,
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-prev-btn:active,
        body section #timetable-widget .timetable-body .timetable-day .timetable-day-next-btn:active {
          outline: none; }
      body section #timetable-widget .timetable-body .timetable-lesson:last-child {
        border-bottom: hidden; }
      body section #timetable-widget .timetable-body .timetable-lesson {
        display: grid;
        grid-template-columns: 30px 1fr;
        min-height: 35px;
        align-items: center;
        border-bottom: 1px solid #C2C2CC; }
        body section #timetable-widget .timetable-body .timetable-lesson .lesson-hide {
          display: none; }
        body section #timetable-widget .timetable-body .timetable-lesson .timetable-lesson-number {
          justify-self: center;
          align-items: center;
          text-align: center; }
          body section #timetable-widget .timetable-body .timetable-lesson .timetable-lesson-number p {
            padding: auto;
            width: 100%;
            height: 100%;
            position: relative; }
        body section #timetable-widget .timetable-body .timetable-lesson .timetable-lesson-name {
          display: grid;
          box-sizing: border-box;
          border-left: 1px solid #C2C2CC;
          align-items: center;
          padding: 0px 10px;
          height: 100%; }
          body section #timetable-widget .timetable-body .timetable-lesson .timetable-lesson-name input {
            font-size: 17px;
            max-width: 100%;
            font-family: "Montserrat", sans-serif;
            color: #757575;
            padding: 4px 5px;
            border-radius: 2px;
            border: 1px solid lightgray;
            outline: none;
            margin-left: -6px; }
      body section #timetable-widget .timetable-body .timetable-edit-btn {
        min-height: 35px;
        width: 100%; }
  body section #notes-widget {
    grid-area: notes-widget;
    background-color: #fff;
    border-radius: 3px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif; }
    body section #notes-widget .notes-widget-header {
      border-radius: 3px 3px 0px 0px;
      padding: 5px;
      background-color: #3C3C3F;
      color: #fff;
      text-align: center; }
      body section #notes-widget .notes-widget-header h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.1; }
    body section #notes-widget .notes-widget-body {
      display: grid;
      grid-template-columns: 320px 1fr;
      grid-template-rows: minmax(72px, 1fr);
      height: 94%; }
      body section #notes-widget .notes-widget-body ul {
        list-style: none; }
      body section #notes-widget .notes-widget-body input {
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        color: #757575;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid lightgray;
        outline: none; }
      body section #notes-widget .notes-widget-body .notes-widget-left {
        display: grid;
        grid-auto-rows: 1fr 56px; }
        body section #notes-widget .notes-widget-body .notes-widget-left #notes-list {
          display: grid;
          grid-auto-rows: 56px;
          max-width: 320px;
          max-height: 60vh;
          overflow-y: auto;
          overflow-x: hidden; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item {
            display: grid;
            grid-template-columns: 1fr 36px 36px;
            grid-gap: 2px;
            font-size: 17px;
            border-bottom: 1px solid #C2C2CC;
            background-color: #fff;
            transition: all 0.2s;
            -webkit-user-select: none;
            user-select: none;
            padding: 10px;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item .title {
            font-family: "Montserrat", sans-serif;
            font-size: 17px;
            cursor: pointer; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item .completed * {
            color: lightgray; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item .title {
            margin-left: 8px; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item.completed .title {
            text-decoration: line-through; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item.editing .title {
            display: none; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item .textfield {
            display: none; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item.editing .textfield {
            display: block; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item button {
            width: 36px;
            position: relative; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .notes-item .notes-text {
            display: none; }
          body section #notes-widget .notes-widget-body .notes-widget-left #notes-list .choosed {
            background-color: #E3E2D8; }
        body section #notes-widget .notes-widget-body .notes-widget-left #notes-form {
          display: flex;
          background-color: #FAFAFA;
          border-top: 1px solid #C2C2CC;
          padding: 10px;
          max-width: 320px;
          box-sizing: border-box; }
        body section #notes-widget .notes-widget-body .notes-widget-left #notes-form input {
          flex: 1;
          outline: none;
          transition: all 0.2s; }
        body section #notes-widget .notes-widget-body .notes-widget-left #notes-form button {
          margin-left: 10px;
          width: 36px;
          height: 36px; }
      body section #notes-widget .notes-widget-body .notes-widget-right {
        height: 100%; }
        body section #notes-widget .notes-widget-body .notes-widget-right textarea {
          height: 100%;
          position: relative;
          width: 100%;
          box-sizing: border-box;
          resize: none;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          outline: none;
          padding: 10px; }
        body section #notes-widget .notes-widget-body .notes-widget-right textarea:active,
        body section #notes-widget .notes-widget-body .notes-widget-right textarea:focus {
          outline: none; }
  body section #timer-widget {
    grid-area: timer-widget;
    background-color: #fff;
    border-radius: 3px;
    font-size: 17px;
    max-width: 350px; }
    body section #timer-widget .timer-header {
      border-radius: 3px 3px 0px 0px;
      overflow: hidden;
      padding: 5px;
      background-color: #3C3C3F;
      color: #fff;
      text-align: center; }
      body section #timer-widget .timer-header h1 {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.1; }
    body section #timer-widget .timer {
      display: grid;
      grid-template-areas: "timer-clock timer-clock" "timer-start timer-end"; }
      body section #timer-widget .timer #timer-clock {
        grid-area: timer-clock;
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        text-align: center;
        margin: 5px 0px; }
      body section #timer-widget .timer .button:nth-child(2) {
        grid-area: timer-start;
        margin-left: 30px;
        margin-right: 10px; }
      body section #timer-widget .timer .button:nth-child(3) {
        grid-area: timer-end;
        margin-right: 30px;
        margin-left: 10px; }
body footer {
  height: 5vh; }

/*# sourceMappingURL=main.css.map */
