@import base

body
	header
		height: 5vh
	section
		padding: 0 20px
		min-height: 90vh
		display: grid
		grid-template-areas: "calendar-widget tracker-widget clock-widget" "to-do-list-widget tracker-widget timetable-widget" "to-do-list-widget notes-widget timetable-widget" "to-do-list-widget notes-widget timer-widget"
		grid-gap: 20px
		grid-template-rows: 3fr 2fr 3fr 2fr
		grid-template-columns: 2fr 5fr 2fr
		#calendar-widget
			grid-area: calendar-widget
			background-color: #FFF
			#calendar
				text-align: center
				width: 100%
				font: monospace
				font-size: 17px 
				font-family: $pacifico
				line-height: 1.3
				-moz-user-select: none
				-ms-user-select: none
				-o-user-select: none
				-webkit-user-select: none
				user-select: none
				thead
					tr *
						padding-bottom: 5px
					tr:last-child
						font-size: 14px
					tr:nth-child(1) 
						td:nth-child(1):hover
							cursor: pointer
					tr:nth-child(1) 
						td:nth-child(3):hover
							cursor: pointer
				tbody
					td
						padding-bottom: 3px
					td:nth-child(n+6)
						color: #FF333D
					td.today
						background: #000
						color: #fff

		.tracker-widget
			grid-area: tracker-widget
			background-color: black 
		#clock-widget
			grid-area: clock-widget
			background-color: #FFF
			text-align: center
			p
				line-height: 1.1
				-moz-user-select: none
				-ms-user-select: none
				-o-user-select: none
				-webkit-user-select: none
				user-select: none
			.clock-widget__clock
				font-size: 50px
				font-family: $pacifico
			.clock-widget__day
				font-size: 45px
				font-family: $pacifico  
			.clock-widget__date 
				font-size: 45px
				font-family: $pacifico  
		.to-do-list-widget
			grid-area: to-do-list-widget
			background-color: black 
		.timetable-widget
			grid-area: timetable-widget
			background-color: black 
		.notes-widget
			grid-area: notes-widget
			background-color: black 
		.timer-widget
			grid-area: timer-widget
			background-color: black 
	footer
		height: 5vh
