* {
  margin: 0;
  padding: 0;
}

header {
  height: 4vh;
}

section {
  height: 96vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/sky-1946508.png) left top/cover fixed;
}

section .start-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

section .start-section .start-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

section .start-section .start-img img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-width: 50vw;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

section .start-section .start-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section .start-section .start-text p {
  font-size: 40px;
  color: #fff;
  background-color: black;
  margin-bottom: 40px;
}

section .start-section .start-text a {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
